.App {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  min-width: 320px;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: red;
}

.layout {
    display: grid;
    grid-template-columns:1fr 6fr 3fr 1fr;
    grid-gap: 20px;
}

.column {
    text-align: left;
}


h3{
    margin-block-end: 0em;
}